body {
  margin: 0;
  color: #555555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
p,
figure {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

form {
  width: 70%;
}

.container {
  width: 92%;
  max-width: 720px;
  margin: 0 auto;
}

.appList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-block: 30px;
}

.appList h1 {
  justify-self: center;
  grid-column: 1 / -1;
}

.error-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: red;
}

.text p {
  font-size: 36px;
}

.form-text {
  height: 2.4em;
  width: 80%;
  padding: 0 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  &.--error {
    color: #630015;
    border-color: #c20c33;
    background-color: #ffd9e1;
  }
}

.form-text:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}

.form-submit-button {
  display: inline-block;
  width: 87%;
  padding: 8px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  border: 2px solid transparent;
  /* &.--error {
    filter: brightness(0.8);
    cursor: not-allowed;
  } */
}

.form-submit-button:disabled {
  filter: brightness(0.8);
  cursor: not-allowed;
}

.form-submit-button:hover {
  background-color: #000;
}

.form-submit-button:focus {
  outline: 0;
  background-color: #000;
  border: 2px solid rgb(33, 150, 243);
}

@media (min-width: 768px) {
  .appList {
    grid-template-columns: 1fr 1fr;
  }
}
